<footer class="footer">
				<div class="footer-top padd-top padd-bottom">
					<div class="container">
						<div class="row">
							<div class="col-sm-5">
								<div  class="footer-padd">
									<h6>Quick Links</h6>
								</div>
								<div class="row">
									<div class="col-sm-5">
										<ul>
											<li>
												<a href="index.html">Home</a>
											</li>
											<li>
												<a href="about-us.html">about us</a>
											</li>
											<li>
												<a href="services.html">services</a>
											</li>
											<li>
												<a href="doctors-grid.html">doctors</a>
											</li>
											<li>
												<a href="testimonials.html">testimonial</a>
											</li>
											<li>
												<a href="book-appointment.html">book appointment</a>
											</li>
										</ul>
									</div>
									<div class="col-sm-6">
										<ul>
											<li>
												<a href="departments.html">departments</a>
											</li>
											<li>
												<a href="faq.html">faq</a>
											</li>
											<li>
												<a href="gallery.html">news</a>
											</li>
											<li>
												<a href="blog.html">blog</a>
											</li>
											<li>
												<a href="contact-us.html">contact us</a>
											</li>
											<li>
												<a href="careers.html">careers</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div  class="footer-padd">
									<h6>Opening Hours</h6>
								</div>
								<ul class="opening-msg common-padd-bottom">
									<li>
										<span class="opening-hours days">monday - friday</span>
										<span class="opening-hours">8.00 – 17.00</span>
									</li>
									<li>
										<span class="opening-hours days">saturday</span>
										<span class="opening-hours">9.30 – 17.30</span>
									</li>
									<li>
										<span class="opening-hours days">sunday</span>
										<span class="opening-hours">9.30 – 15.00</span>
									</li>
								</ul>
								<ul class="social">
									<li>
										<a href="#" class="social-links">facebook</a>
									</li>
									<li>
										<a href="#" class="social-links">twitter</a>
									</li>
									<li>
										<a href="#" class="social-links">linkedin</a>
									</li>
								</ul>
							</div>
							<div class="col-sm-3 col-sm-offset-1">
								<div  class="footer-padd">
									<h6>contact us</h6>
								</div>
								<address class="footer-address">
									<div class="address-section">
										<span class="address-title">address</span><span class="address-details"> Megahealth Hospital
											Birmingham Street
											Engl, B3 2EW </span>
									</div>
									<div class="address-section">
										<span class="address-title">email</span>
										<a href="mailto:info@megahealth.com" class="address-details">info@megahealth.com</a>
									</div>
									<div class="address-section">
										<span class="address-title">phone</span>
										<a href="tel:85655564555" class="address-details">8565 5564 555</a>
									</div>
								</address>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="container">
						<div class="row">
							<div class="form-section">
								<div class="newsletter">
									<h6>newsletter</h6>
									<span class="footer-bottom-content">Subscribe your newsletter</span>
								</div>
								<div class="footer-form">
									<form  action="#" method="post">
										<input type="text" name="search" class="input-section"/>
										<input type="submit" value="subscribe" class="submit-button"/>
									</form>
								</div>
							</div>
							<span class="footer-bottom-content">2016 © allright reserved Megahealth</span>
						</div>
					</div>
				</div>
			</footer>