{% extends 'base/main_manager.html' %}
{% load static %}
{% block title %}
    Welcome to CWGHMO Platform
{% endblock %}

{% block banner_section %}
{#    <div class="banner-section banner-image">#}
{#				<div class="container gallery">#}
{#					<div class="book-appointment-section appoint-link"	>#}
{#						<a href="#" class="inner-sec"> <span class="anchor-icon"> <i class="icon-user"></i> </span> Create Your Account </a>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{% endblock %}

{% block content %}
    <section class="careers ptb ptb-sm">
				<div class="container">
					<div class="sec-title">
					</div>
					<div class="row mb-80">
						<div class="col-sm-12 col-md-8 col-md-offset-2">
							<div class="diagnostic">
								<div class="sub-heading">
									<h3>Signup Form</h3>
                                    <p class="c-white"> All fields are required.</p>
								</div>
								<form method="post" novalidate="novalidate">
                                    {% csrf_token %}
                                    {% if form.non_field_errors %}
                                        {{ form.non_field_errors }}
                                    {% endif %}
                                <div class="row mb-23">
                                    {% for field in  form %}

										<div class="col-sm-6">
                                        <div class="form-pack">
                                            <label class="form_label">{{ field.label }}</label>
											{{ field }}
                                            <span class="form_error">{{ field.errors }}</span>
										</div>
                                        </div>

                                {% endfor %}
                                </div>

									<input class="btn" type="submit" value="Submit Now">
                                    <p>OR</p>
                                <a href="{% url 'account:login' %}" class="btn">Login</a>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
{% endblock %}